body{
  font-family: Arial;
}

h1{
  text-align: center;
}

.score-entry{
  background-color: #FF4a4a;
  margin: 5px 10%;
  text-align: center;
  border-radius: 5px;
}

.score-entry > div{
  display: inline-block;
  font-size: 50px;
  margin: 20px 5px;
  text-align: left;
  color: #ffffff
}

.score-entry > .name{
  width: 800px;
}
.score-entry > .score{
  width: 200px;
  text-align: right;
}
.score-entry > .score:after{
  content: '';
  background-image: url(http://localhost:8080/beer.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 2px;
  margin-left: 5px;
  position: absolute;
}
